certifi==2022.5.18.1
charset-normalizer==2.0.12
fpdf==1.7.2
grpcio==1.46.3
idna==3.3
importlib-metadata==4.11.4
keyring==23.5.0
lxml==4.8.0
multitasking==0.0.10
numpy==1.22.4
packaging==21.3
pandas==1.4.2
patsy==0.5.2
protobuf==3.20.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.1
six==1.16.0
statsmodels==0.13.2
tinkoff==0.1.1
tinkoff-investments==0.2.0b27
urllib3==1.26.9
yfinance==0.1.70
zipp==3.8.0
