click==8.1.3
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.33.3
ghp-import==2.1.0
grpcio==1.46.1
importlib-metadata==4.11.4
Jinja2==3.1.2
kiwisolver==1.4.2
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mergedeep==1.3.4
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
plotly==5.8.0
protobuf==3.20.1
Pygments==2.12.0
pymdown-extensions==9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyyaml_env_tag==0.1
six==1.16.0
TA-Lib==0.4.24
tenacity==8.0.1
tinkoff==0.1.1
tinkoff-investments==0.2.0b27
watchdog==2.1.8
zipp==3.8.0
