{% extends "base.html" %}

{% block head %}
{{ super() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-table.min.js"></script>

{% endblock %}

{% block content %}
<h2> Список Инструмертов: </h2>
<table  id="table"
        data-toggle="table"
        data-show-columns="true"
        data-pagination="true"
        data-search="true"
        data-show-search-button="true"
        data-page-list="[10, 25, 50, 100, 200, All]"
>
    <thead>
        <tr>
            {% for key, val in thead.items() %}
                {%  if "_flag" in key %}
                    <th data-sortable="true" data-visible="false"> {{ val }} </th>
                {% else %}
                    <th data-sortable="true" > {{ val }} </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for share in shares.values() %}
            <tr>
                {% for key in thead.keys() %}
                    <td> {{ share.get(key)  }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>


{% endblock %}